.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 300px);
    gap: 30px;
    margin-top: 40px;
}

.card {
    border-radius: 15px;
}

.top1 {
    grid-column: 1 / span 2;
    grid-row: 1 / span 2;
    background: url(../../images/products/modelo-masculino.png) no-repeat center;
    background-size: cover;
}

.top2 {
    grid-column: 3 / span 2;
    background: url(../../images/products/roxo-e-verde.jpg) no-repeat center;
    background-size: cover;
}

.midL {
    grid-row: 2 / span 2;
    background: url(../../images/products/modelo-feminina.jpg) no-repeat center;
    background-size: cover;
}

.midR {
    background: url(../../images/products/moderno-grid.jpg) no-repeat center;
    background-size: cover;
}

.bottomL {
    grid-column: 1 / span 2;
    background: url(../../images/products/preto-e-azul.jpg) no-repeat center;
    background-size: cover;
}

.bottomR {
    background: url(../../images/products/futurista-grid.jpg) no-repeat center;
    background-size: cover;
}

.top1-content {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #ffffff;
}

.top1-buttons {
    display: flex;
    gap: 16px;
    text-align: center;
}

.top1-content .top1-title {
    text-align: center;
    font-size: 1.87rem;
    margin-bottom: 20px;
    font-weight: 400;
    letter-spacing: 3px;
}

.top1-content .top1-subtitle {
    font-size: 1.25rem;
    font-weight: 400;
}

@media (max-width: 780px) {
    .grid {
        gap: 10px;
        margin-top: 20px;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(6, auto);
    }

    .top1 {
        grid-column: 1 / span 2;
        grid-row: 1 / span 2;
        min-height: 490px;
    }

    .top2 {
        grid-column: 1 / span 2;
        grid-row: 6;
        min-height: 190px;
    }

    .midL {
        grid-column: 1;
        grid-row: 4 / span 2;
        min-height: 370px;
    }

    .midR {
        grid-column: 2;
        grid-row: 4;
        min-height: 180px;
    }

    .bottomL {
        grid-column: 1 / span 2;
        grid-row: 3;
        min-height: 190px;
    }

    .bottomR {
        grid-column: 2;
        grid-row: 5;
        min-height: 180px;
    }
}