.header {
    background-color: #ffffff;
    position: fixed;
    z-index: 999;
    top: 60px;
    left: 50%;
    transform: translateX(-50%);
    width: calc(100% - 120px);
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 20px;
}

.logo img {
    height: 48px;
}

.nav-center ul,
.nav-right ul {
    display: flex;
    gap: 2.5rem;
    align-items: center;
}

.nav-center a,
.nav-right a {
    font-size: 1.25rem;
    color: #333333;
}

.nav-center a:hover,
.nav-right a:hover {
    color: #7c3aed;
}

.nav-right img {
    height: 20px;
}

.nav-right a:hover img {
    opacity: 0.7;
}